#contest {
  width: 100%;
  height: 100vh;
  justify-content: center;
}

#contest-wrap {
  position: static;
  padding-top: 59px;
  display: flex;
  width: 100%;
  justify-content: center;
}

.contest-container {
  margin: 0 20px;
  padding: 10px;
  font-family: 'PT Sans', sans-serif;
  text-align: center;
}

.contest-container > div {
  background: url(../src/contest/lks.png) no-repeat center center;
  background-size: contain;
  width: auto;
  height: 200px;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  #contest-wrap {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}