html, body {
  margin: 0;
  padding: 0;
}

body {
  background: url(../src/bg.jpg) no-repeat center center fixed;
  background-size: cover;
}

/** - Font Family - **/
nav, footer {
  font-family: 'PT sans', sans-serif;
}

/** - START - Navbar Styling **/
nav {
  position: fixed;
  width: 100%;
  display: inline-flex;
  background-color: white;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

#nav-button-right { 
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

#right-nav-link { 
  display: none;
  flex-direction: column;
  background-color: white; 
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#right-nav-link .nav-link { text-align: left; }

button.nav-link, #nav-toggle {
  margin: 16px 14px;
  text-decoration: none;
  color: black;
  font-size: 16pt;
  outline: none;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  transition: color 0.2s;
}

button.nav-link:hover, #nav-toggle {
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: color 0.2s;
}

#nav-toggle { display: block; }

@media only screen and (min-width: 1024px) {
  #right-nav-link { display: block; }
  #nav-toggle { display: none; }
}
/** - END - **/

/** - START - Body Styling **/
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 100; }
}

.active { 
  display: block !important;
  animation: fadeIn 0.5s linear;
}

.active-nav { text-decoration: underline !important; }
.content { display: none; }

.drop { 
  display: flex !important;
  position: absolute;
  top: 59px;
  width: 100%;
  z-index: 1;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}
/** - END - **/