html, body {
  margin: 0;
  padding: 0;
}

/** - Font Family - **/
nav, footer {
  font-family: 'PT sans', sans-serif;
}

/** - START - Navbar Styling **/
nav {
  position: fixed;
  width: 100%;
  display: inline-flex;
  background-color: white;
}


#nav-button-right { 
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

#nav-button-right .nav-link { display: none; }

button.nav-link, #nav-toggle {
  margin: 16px 14px;
  text-decoration: none;
  color: black;
  font-size: 14pt;
  outline: none;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

button.nav-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

#nav-toggle { 
  display: block;
  background-color: white; 
}

@media only screen and (min-width: 1024px) {
  button.nav-link { font-size: 16pt; }
  #nav-button-right .nav-link { display: block; }
  #nav-toggle { display: none; }
}
/** - END - **/

/** - START - Body Styling **/
.active { display: block !important; }
.content { display: none; }
/** - END - **/